<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! I'm Felix, a research scientist currently doing in vivo and in vitro work with humanized mouse models. 
          My expertise is mainly in heptatic models, with a focus on infectious diseases (HBV, Malaria) and toxicology.
        I have a deep interest in data, mainly scientific and healthcare data. Currently I am a graduate student in the Data Science program at Willamette University.
        I hope to merge my biological expertise with data science skills to further my research.  </p>
      </div>
      <div class="col-lg-4">
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
