<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <!-- Section Heading -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <!-- Content Row -->
    <div class="row">
      <!-- Text Column -->
      <div class="col-sm-12 col-md-6">
        <p>
          Hi! I’m Felix, a research scientist currently doing in vivo and in vitro work with humanized mouse models.
          My expertise is mainly in <strong>hepatic</strong> models, with a focus on infectious diseases (HBV, Malaria) and toxicology.
          I have a deep interest in data—especially scientific and healthcare data. I’m currently a graduate student in the Data Science program at Willamette University,
          and I hope to merge my biological expertise with data science skills to further my research.
        </p>
      </div>
      <!-- Image Column -->
      <div class="col-sm-12 col-md-6 text-center">
        <img
          src="{{ '/assets/img/profile.jpg' | relative_url }}"
          class="img-responsive center-block img-circle"
          alt="Profile picture of Felix Huang"
          style="max-width: 300px;"
        >
      </div>
    </div>
  </div>
</section>
