<header style="
  background: url('{{ "/img/mouse2.png" | relative_url }}') repeat center center;
  background-size: cover;
  min-height: 200px;
  display: flex;             /* enable flex centering */
  align-items: center;       /* vertical centering */
  justify-content: center;   /* horizontal centering */
  color: black;              /* text color */
">
  <div class="container text-center">
    <h1 style="margin-bottom: 0.5em;">Felix Huang</h1>
    <p class="subtitle">Cellular &amp; Molecular Biologist – Data Scientist</p>
  </div>
</header>
