<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row" style="justify-content: center; gap: 1.5rem;">
      
      <!-- Item 1: Adult Mouse -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-adult_mouse" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img 
            src="img/portfolio/Adult_mouse.svg" 
            class="img-responsive" 
            alt="Adult mouse model illustration">
        </a>
      </div>

      <!-- Item 2: Mouse Nosepoke -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-mouse_nosepoke" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img 
            src="img/portfolio/mouse_nosepoke.svg" 
            class="img-responsive" 
            alt="Mouse nosepoke assay illustration">
        </a>
      </div>

    </div>
  </div>
</section>
